# Системные файлы
*.user
*.suo
*.vs/
*.vscode/

# Папки сборки (для всех микросервисов)
**/bin/
**/obj/

# Папки зависимостей
packages/
*.nupkg

# Логи
*.log

# Настройки IDE
.idea/
.vs/
*.sublime-project
*.sublime-workspace

# Конфигурационные файлы
appsettings.Development.json
appsettings.Production.json

# Служебные файлы
*.db
*.pdb

# Директории для тестов
TestResults/
*.TestResults/